*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.cont_primario{
width: 25%;
background-color: rgb(55, 58, 58);
/* padding: 20px; */
display: flex;
flex-direction: column;
}

.contenedor_img{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.nino_polla{
    border-radius: 60px;
    width: 130px;
}

.contenedor_enlaces{
    height: 75%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buton_salir{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: end;
    background-color: rgb(220, 220, 233);
}

.cont_secundario{
   width: 75%;
   display: flex;
   flex-direction: column;
   /* align-items: center;
   justify-content: center; */
   /* background-color: aqua; */
}

.home_crud{
    /* width: 100%; */
    height: 10%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(116, 112, 112);
    
}
.vista_crud{
    /* width: 100%; */
    height: 90%;
    /* background-color: aqua; */
}
.icono{
    width: 10%;
    background-color: rgb(172, 169, 40);
}